.body{
    -fx-background-color: #80789c;
    -fx-pref-height: 600px;
}

.button{
    -fx-text-fill: #fff;
    -fx-background-color: #000000;
    -fx-font-size: 22px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-border-insets: -1 -1 -1 -1;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-border-style: solid;
}

.footers{
    -fx-background-color: #595959;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
    -fx-pref-width: 80px;
    -fx-font-size: 20px;
    -fx-border-style: none;
}



.text-field{
    -fx-background-radius: 10;
    -fx-background-color: #9bff93;
    -fx-background-color: #fffba7;
    -fx-font-size: 30px;
    -fx-text-fill: #535353;
    -fx-text-fill: #0d0a92;
    -fx-text-fill: #313131;
    -fx-focus-traversable: false;
    -fx-font-weight: bold;
    -fx-opacity: 1.0 ;
}
.numbers{
    -fx-background-color: #ffb321;
    -fx-background-radius: 20;
    -fx-border-color: #f5a921;
}
.numbers:hover{
    -fx-background-color: #f5a921;
}

.numbers:armed{
    -fx-background-color: #eb9e21;
}

.othersButtons{
    -fx-background-color: #78c6b7;
    -fx-background-radius: 20;
    -fx-border-color: #6ebcad;
}

.othersButtons:hover{
    -fx-background-color: #6ebcad;
}
.othersButtons:armed{
    -fx-background-color: #62b1a2;
}


.footers:hover{
    -fx-background-color: #737373;

}
.footers:armed{
    -fx-background-color: #434343;
}

.reset{
    -fx-background-color: #c4b1ae;
    -fx-background-radius: 20;
    -fx-border-color: #baa7a4;

}
.reset:hover{
    -fx-background-color: #baa7a4;
}

.reset:armed{
    -fx-background-color: #af9c99;
}

.resetCE{
    -fx-font-size: 18px;
}